
.icon-down-open:before { content: '\e800'; } /* '' */
.icon-book:before { content: '\e801'; } /* '' */
.icon-floppy:before { content: '\e802'; } /* '' */
.icon-eye:before { content: '\e803'; } /* '' */
.icon-brush:before { content: '\e804'; } /* '' */
.icon-mail:before { content: '\e805'; } /* '' */
.icon-link:before { content: '\e806'; } /* '' */
.icon-lock-open:before { content: '\e807'; } /* '' */
.icon-lock:before { content: '\e808'; } /* '' */
.icon-wrench:before { content: '\e809'; } /* '' */
.icon-cog-alt:before { content: '\e80a'; } /* '' */
.icon-cup:before { content: '\e80b'; } /* '' */
.icon-trash:before { content: '\e80c'; } /* '' */
.icon-camera-alt:before { content: '\e80d'; } /* '' */
.icon-trophy:before { content: '\e80e'; } /* '' */
.icon-newspaper:before { content: '\e80f'; } /* '' */
.icon-book-open:before { content: '\e810'; } /* '' */
.icon-book-1:before { content: '\e811'; } /* '' */
.icon-tag:before { content: '\e812'; } /* '' */
.icon-eye-1:before { content: '\e813'; } /* '' */
.icon-thumbs-up:before { content: '\e814'; } /* '' */
.icon-thumbs-down:before { content: '\e815'; } /* '' */
.icon-left-open-mini:before { content: '\e816'; } /* '' */
.icon-right-open-mini:before { content: '\e817'; } /* '' */
.icon-down-open-big:before { content: '\e818'; } /* '' */
.icon-up-open-mini:before { content: '\e819'; } /* '' */
.icon-left-open-big:before { content: '\e81a'; } /* '' */
.icon-right-open-big:before { content: '\e81b'; } /* '' */
.icon-up-open-big:before { content: '\e81c'; } /* '' */
.icon-globe:before { content: '\e81d'; } /* '' */
.icon-install:before { content: '\e81e'; } /* '' */
.icon-megaphone:before { content: '\e81f'; } /* '' */
.icon-layers:before { content: '\e820'; } /* '' */
.icon-spin4:before { content: '\e834'; } /* '' */
.icon-firefox:before { content: '\e840'; } /* '' */
.icon-chrome:before { content: '\e841'; } /* '' */
.icon-github:before { content: '\f09b'; } /* '' */
.icon-filter:before { content: '\f0b0'; } /* '' */
.icon-beaker:before { content: '\f0c3'; } /* '' */
.icon-magic:before { content: '\f0d0'; } /* '' */
.icon-sitemap:before { content: '\f0e8'; } /* '' */
.icon-circle-empty:before { content: '\f10c'; } /* '' */
.icon-circle:before { content: '\f111'; } /* '' */
.icon-keyboard:before { content: '\f11c'; } /* '' */
.icon-terminal:before { content: '\f120'; } /* '' */
.icon-code:before { content: '\f121'; } /* '' */
.icon-unlink:before { content: '\f127'; } /* '' */
.icon-puzzle:before { content: '\f12e'; } /* '' */
.icon-stackoverflow:before { content: '\f16c'; } /* '' */
.icon-dot-circled:before { content: '\f192'; } /* '' */
.icon-database:before { content: '\f1c0'; } /* '' */
.icon-codeopen:before { content: '\f1cb'; } /* '' */
.icon-circle-notch:before { content: '\f1ce'; } /* '' */
.icon-sliders:before { content: '\f1de'; } /* '' */
.icon-chart-area:before { content: '\f1fe'; } /* '' */
.icon-chart-pie:before { content: '\f200'; } /* '' */
.icon-chart-line:before { content: '\f201'; } /* '' */
.icon-diamond:before { content: '\f219'; } /* '' */
.icon-user-secret:before { content: '\f21b'; } /* '' */
.icon-server:before { content: '\f233'; } /* '' */
.icon-medium:before { content: '\f23a'; } /* '' */
.icon-commenting:before { content: '\f27a'; } /* '' */
.icon-microchip:before { content: '\f2db'; } /* '' */
.icon-snowflake-o:before { content: '\f2dc'; } /* '' */