@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?92121130');
  src: url('../font/fontello.eot?92121130#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?92121130') format('woff2'),
       url('../font/fontello.woff?92121130') format('woff'),
       url('../font/fontello.ttf?92121130') format('truetype'),
       url('../font/fontello.svg?92121130#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?92121130#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-down-open:before { content: '\e800'; } /* '' */
.icon-book:before { content: '\e801'; } /* '' */
.icon-floppy:before { content: '\e802'; } /* '' */
.icon-eye:before { content: '\e803'; } /* '' */
.icon-brush:before { content: '\e804'; } /* '' */
.icon-mail:before { content: '\e805'; } /* '' */
.icon-link:before { content: '\e806'; } /* '' */
.icon-lock-open:before { content: '\e807'; } /* '' */
.icon-lock:before { content: '\e808'; } /* '' */
.icon-wrench:before { content: '\e809'; } /* '' */
.icon-cog-alt:before { content: '\e80a'; } /* '' */
.icon-cup:before { content: '\e80b'; } /* '' */
.icon-trash:before { content: '\e80c'; } /* '' */
.icon-camera-alt:before { content: '\e80d'; } /* '' */
.icon-trophy:before { content: '\e80e'; } /* '' */
.icon-newspaper:before { content: '\e80f'; } /* '' */
.icon-book-open:before { content: '\e810'; } /* '' */
.icon-book-1:before { content: '\e811'; } /* '' */
.icon-tag:before { content: '\e812'; } /* '' */
.icon-eye-1:before { content: '\e813'; } /* '' */
.icon-thumbs-up:before { content: '\e814'; } /* '' */
.icon-thumbs-down:before { content: '\e815'; } /* '' */
.icon-left-open-mini:before { content: '\e816'; } /* '' */
.icon-right-open-mini:before { content: '\e817'; } /* '' */
.icon-down-open-big:before { content: '\e818'; } /* '' */
.icon-up-open-mini:before { content: '\e819'; } /* '' */
.icon-left-open-big:before { content: '\e81a'; } /* '' */
.icon-right-open-big:before { content: '\e81b'; } /* '' */
.icon-up-open-big:before { content: '\e81c'; } /* '' */
.icon-globe:before { content: '\e81d'; } /* '' */
.icon-install:before { content: '\e81e'; } /* '' */
.icon-megaphone:before { content: '\e81f'; } /* '' */
.icon-layers:before { content: '\e820'; } /* '' */
.icon-spin4:before { content: '\e834'; } /* '' */
.icon-firefox:before { content: '\e840'; } /* '' */
.icon-chrome:before { content: '\e841'; } /* '' */
.icon-github:before { content: '\f09b'; } /* '' */
.icon-filter:before { content: '\f0b0'; } /* '' */
.icon-beaker:before { content: '\f0c3'; } /* '' */
.icon-magic:before { content: '\f0d0'; } /* '' */
.icon-sitemap:before { content: '\f0e8'; } /* '' */
.icon-circle-empty:before { content: '\f10c'; } /* '' */
.icon-circle:before { content: '\f111'; } /* '' */
.icon-keyboard:before { content: '\f11c'; } /* '' */
.icon-terminal:before { content: '\f120'; } /* '' */
.icon-code:before { content: '\f121'; } /* '' */
.icon-unlink:before { content: '\f127'; } /* '' */
.icon-puzzle:before { content: '\f12e'; } /* '' */
.icon-stackoverflow:before { content: '\f16c'; } /* '' */
.icon-dot-circled:before { content: '\f192'; } /* '' */
.icon-database:before { content: '\f1c0'; } /* '' */
.icon-codeopen:before { content: '\f1cb'; } /* '' */
.icon-circle-notch:before { content: '\f1ce'; } /* '' */
.icon-sliders:before { content: '\f1de'; } /* '' */
.icon-chart-area:before { content: '\f1fe'; } /* '' */
.icon-chart-pie:before { content: '\f200'; } /* '' */
.icon-chart-line:before { content: '\f201'; } /* '' */
.icon-diamond:before { content: '\f219'; } /* '' */
.icon-user-secret:before { content: '\f21b'; } /* '' */
.icon-server:before { content: '\f233'; } /* '' */
.icon-medium:before { content: '\f23a'; } /* '' */
.icon-commenting:before { content: '\f27a'; } /* '' */
.icon-microchip:before { content: '\f2db'; } /* '' */
.icon-snowflake-o:before { content: '\f2dc'; } /* '' */