@import url('https://fonts.googleapis.com/css?family=Nunito');

:root {
  --the-mood: hsl(335, 79%, 49%);
}

*,
* * {
  box-sizing: border-box;
  position: relative;
}

a,
a:visited {
  color: inherit;
  font-weight: bold;
  text-decoration: none;
  transition: transform 120ms ease-out;
}

a:hover {
  transform: translateY(-2px);
}

a:active {
  filter: drop-shadow(0 1px 2px rgba(0, 0, 0, .18)) brightness(95%);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  padding-left: 1.5em;
  text-indent: -.5em;
}

li::before {
  display: inline-block;
  margin-right: .2em;
  font-size: 1.1em;
  content: "•";
  color: inherit;
}

li:hover::before {
  color: var(--the-mood);
  text-shadow: 0 1px 2px rgba(0, 0, 0, .14);
}

body {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-column-gap: 1em;
  grid-row-gap: 1em;
  justify-items: stretch;
  align-items: stretch;
  align-content: center;
  flex-flow: column wrap;
  font-family: Nunito, Verdunda, Helvetica, Arial, sans-serif;
}

body>nav {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  flex-flow: row wrap;
  padding: 1em 2em;
  border-bottom: 1px solid var(--the-mood);
}

body>nav .area {
  margin: 0 1em 0 0;
  transition: 140ms ease-in-out;
  padding: .5em;
  cursor: pointer;
  border: 1px solid transparent;
}

body>nav .area.active {
  font-weight: bold;
  color: var(--the-mood);
  text-shadow: 0 1px 3px rgba(0, 0, 0, .14);
  border: 1px solid var(--the-mood);
}

.editor {
  display: grid;
  height: 100%;
  grid-template-columns: minmax(auto, 300px) 1fr;
  grid-template-rows: auto 1fr;
  grid-gap: 5px 5px;
  grid-template-areas: "writlist editorhead""writlist editor";
  justify-items: stretch;
  align-items: stretch;
}

.editor>header {
  display: flex;
  justify-content: flex-end;
  align-content: center;
  align-items: center;
  flex-flow: row wrap-reverse;
  grid-area: editorhead;
  margin: 0 1em;
  padding-bottom: .3em;
  border-bottom: 1px solid var(--the-mood);
}

.editor>header .writ-title {
  flex: 1 1 auto;
  display: inline-block;
  padding: .3em;
  padding-left: 0;
  outline: 0;
  border: 0;
}

.editor>header div {
  display: inline-block;
  width: auto;
  padding: .3em;
  margin-left: .3em;
  cursor: pointer;
  border: 1px solid var(--the-mood);
  transition: 140ms ease-in-out;
}

.editor>.writersblock {
  width: 100%;
  min-height: 40vh;
  grid-area: editor;
  padding: 0 1em;
}

.editor>.writersblock>* {
  display: block;
  background: #fff;
  color: hsl(0, 0%, 30%);
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100px;
  opacity: 1;
  pointer-events: all;
  transition: all 150ms ease-in;
}

.editor>.writersblock>pre {
  white-space: pre-wrap;
  border-right: 1px dashed var(--the-mood);
  outline: 0;
}

.editor>.writersblock:not(.preview)>.view,
.editor>.writersblock.preview>pre {
  opacity: 0;
  pointer-events: none;
  height: 0;
  min-width: 0;
  min-height: 0;
  margin: 0;
}

.editor>.writselector {
  padding: 1em;
  grid-area: writlist;
  border-right: 1px solid hsla(0, 0%, 0%, .15);
}

section.auth {
  display: flex;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  flex-flow: column wrap;
  margin: 1em auto;
  padding: .75em;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, .18);
}

section.auth>div {
  display: flex;
  justify-content: space-around;
  align-content: center;
  align-items: flex-start;
  flex-flow: column wrap;
  margin: .5em auto;
  width: 100%;
}

section.auth input {
  display: block;
  border: 0;
  outline: 0;
  margin: .5em auto;
  box-shadow: 0 4px 4px -4px rgba(0, 0, 0, .14);
  border-bottom: 1px solid var(--the-mood);
  width: 100%;
}

section.auth>button {
  border: 0;
  padding: 5px;
  border-radius: 4px;
  color: #fff;
  font-size: 1.2em;
  width: 100%;
  background: var(--the-mood);
  text-align: 0 1px 3px rgba(0, 0, 0, .16);
  cursor: pointer;
  margin: .5em auto 0 auto;
}