@import url('https://fonts.googleapis.com/css?family=Nunito');

:root {
  --the-mood: hsl(39, 100%, 72%);
}

*,
* * {
  box-sizing: border-box;
  position: relative;
}

a,
a:visited {
  color: inherit;
  font-weight: bold;
  text-decoration: none;
  transition: transform 120ms ease-out;
}

a:hover {
  transform: translateY(-2px);
}

a:active {
  filter: drop-shadow(0 1px 2px rgba(0, 0, 0, .18)) brightness(95%);
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  padding-left: 1.5em;
  text-indent: -.5em;
}

li::before {
  display: inline-block;
  margin-right: .2em;
  font-size: 1.1em;
  content: "•";
  color: inherit;
}

li:hover::before {
  color: var(--the-mood);
  text-shadow: 0 1px 2px rgba(0, 0, 0, .14);
}

body {
  display: flex;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  flex-flow: column wrap;
  font-family: Nunito, Verdunda, Helvetica, Arial, sans-serif;
  background: var(--the-mood);
}