@import url('https://fonts.googleapis.com/css?family=Nunito');

:root {
  --the-mood: hsl(39, 74%, 79%);
  --primary-text: hsl(0, 0%, 30%);
}

*, * * {
  box-sizing: border-box;
  position: relative;
}

html {
  overflow-y: auto;
  overflow-x: hidden;
}

body {
  font-family: Nunito, Verdunda, Helvetica, Arial, sans-serif;
  color: var(--primary-text);
  background: #fff;
  color: hsl(0, 0%, 30%);
  width: 100vw;
  height: 100vh;
}

.flexCenterSpacedHorizonal {
  display: flex;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.liftedShadow {
  box-shadow: 0 2px 16px rgba(0,0,0,.14);
}

a, a:visited {
  color: inherit;
  font-weight: bold;
  text-decoration: none;
  transition: transform 120ms ease-out;
}

a:hover {
  transform: translateY(-2px);
}

a:active {
  filter: drop-shadow(0 1px 2px rgba(0,0,0,.18)) brightness(95%);
}

.destructureMe {
  display: inline-block;
  white-space: nowrap;
  font-size: 1.35em;
  padding: 1em;
  border-radius: 2px;
  background: #fff;
  text-shadow: 0 1px 3px rgba(0,0,0,.18);
}

.main-hero {
  display: flex;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  flex-flow: row wrap;
  width: 82vw;
  min-width: 300px;
  padding: 1em 0;
  border-bottom: 1px solid var(--the-mood);
  box-shadow: 0 1em 20px -10px hsla(39, 74%, 79%, 0.24);
  margin: 0 auto;
}

.reach-me > a {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-flow: row wrap;
  text-align: center;
  border-radius: 100%;
  border: 1px solid hsl(0, 0%, 30%);
  font-size: 1.25em;
  height: 40px;
  width: 40px;
  margin: 5px;
  box-shadow: 0 1px 4px 2px hsla(39, 74%, 60%, .24);
  color: var(--the-mood);
  border: 2px solid var(--the-mood);
  background: hsl(0, 0%, 33%);
  transition: all 140ms ease-in-out;
}

.reach-me>a>span {
  position: absolute;
  box-sizing: content-box;
  width: 160px;
  left: calc(50% - 80px);
  top: 110%;
  font-size: 0;
  font-weight: normal;
  opacity: 0;
  pointer-events: none;
  transition: all 140ms ease-in-out;
}

.reach-me>a:hover > span {
  font-size: .8em;
  opacity: 1;
  color: hsl(0, 0%, 33%);
}

.reach-me>a:hover {
  text-shadow: 0 1px 3px rgba(245, 179, 93, 0.14);
  transform: translateY(-4px);
  font-size: 1.3em;
}

@media all and (max-width: 760px) {
  main {
    display: block;
  }

  main > article {
    margin: 3em auto;
  }
}